extends layout

block content
  h1= title
  button(id='clear') Clear
  button(id='flag') Flag
  button(id='spiral') Spiral
  button(id='diagonal') Diagonal
  br
  textarea(id='output', rows='5', cols='42')
